@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/******* Global *******/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-family: Lato, sans-serif;
  font-weight: 300; }

body {
  width: 85%;
  margin: auto;
  transition: 0.5s; }

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: 0s !important;
  -webkit-transition: 0s !important; }

h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px; }

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.5px; }

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0px; }

h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px; }

h5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px; }

h6 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15px; }

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px; }

a {
  text-decoration: none;
  color: black; }

section {
  padding: 100px 0px; }

/******* Navbar *******/
nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0; }

/******* SideNav *******/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.sidenav .closebtn .closebtn-img {
  width: 20px;
  opacity: 0.4;
  transition: 0.3s; }

.sidenav .closebtn .closebtn-img:hover {
  opacity: 1; }

/******* Header *******/
header {
  display: flex;
  justify-content: center; }

header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

header span {
  color: #999; }

header h4 {
  padding: 17px 0; }

header img {
  width: 600px;
  height: auto;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
  mask-image: linear-gradient(to top, transparent 5%, black 50%); }

/******* My-Works *******/
#my-works .row {
  display: flex;
  justify-content: space-around; }

#my-works .image {
  width: 50%;
  height: 450px;
  margin: 20px; }

#my-works .image-full {
  width: 100%; }

#my-works .image img {
  border: 6px solid black;
  width: 100%;
  height: 100%;
  object-fit: cover; }

#my-works .image:hover img {
  animation: zoom 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

#my-works .image img {
  animation: zoom-back 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

@keyframes zoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.98); } }
@keyframes zoom-back {
  from {
    transform: scale(0.98); }
  to {
    transform: scale(1); } }
/******* Footer *******/
footer {
  padding: 50px 0px; }

footer .contact {
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }

footer .contact a {
  position: relative;
  color: black; }

footer .links {
  padding-bottom: 15px; }

footer .list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none; }

footer .list li {
  display: inline-block;
  position: relative; }

footer .links a {
  color: black; }

footer .contact a.hover-off::after {
  width: 100%;
  left: 0;
  right: inherit; }

footer .links a.hover-off::after {
  width: 0%;
  right: 0;
  left: auto; }

footer .contact a.hover-on::after {
  width: 0%; }

footer .links a.hover-on::after {
  width: 100%; }

footer .contact a::after {
  width: 100%;
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

footer .links a::after {
  width: 0px;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #B5B5B5;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

footer .copyright p {
  text-align: center;
  padding-top: 30px; }

/******* Northlich Page ********/
.works-expanded img {
  width: 100%;
  height: 600px; }

/******* Media Queries *******/
/* XS Devices */
@media (max-width: 576px) {
  header h4 {
    font-size: 28px; }

  header h5 {
    font-size: 24px; } }
/* Small Devices */
@media (max-width: 768px) {
  #my-works,
  #my-contact {
    padding: 50px 0; }

  footer {
    padding: 0px 0px 50px 0px; }

  header div.image {
    display: none; }

  #my-works .row {
    flex-direction: column; }

  #my-works .image {
    width: 100%;
    margin: 20px 0; } }
/* Medium Devices */
@media (max-width: 992px) {
  header .text {
    padding-top: 25px; }

  header .image {
    position: absolute;
    left: 0;
    top: 225px; }

  header img {
    width: 500px !important;
    mask-image: linear-gradient(to top, transparent 15%, black 120%);
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 120%); } }
/* Large Devices */
@media only screen and (max-width: 1200px) {
  header img {
    width: 400px; }

  #my-works .image {
    height: auto; } }

/*# sourceMappingURL=style.css.map */
