@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-family: Lato, sans-serif;
  font-weight: 300; }

body {
  width: 90%;
  margin: auto; }

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important; }

h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px; }

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.5px; }

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0px; }

h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px; }

h5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px; }

h6 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15px; }

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px; }

a {
  text-decoration: none; }

/* Navbar */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0; }

/* Header */
header {
  display: flex;
  justify-content: center; }

header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

header span {
  color: #999; }

header h4 {
  padding: 17px 0; }

header img {
  width: 600px;
  height: auto;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
  mask-image: linear-gradient(to top, transparent 5%, black 50%); }

/******* My-Works *******/
#my-works,
#my-contact {
  padding: 100px 0px; }

#my-works .row {
  display: flex;
  justify-content: space-around; }

#my-works .image {
  width: 50%;
  height: 450px;
  margin: 20px; }

#my-works .image-full {
  width: 100%; }

#my-works .image img {
  border: 6px solid black;
  width: 100%;
  height: 100%;
  object-fit: cover; }

#my-works .image:hover img {
  animation: zoom 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

#my-works .image img {
  animation: zoom-back 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

@keyframes zoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.98); } }
@keyframes zoom-back {
  from {
    transform: scale(0.98); }
  to {
    transform: scale(1); } }
/******* Footer *******/
footer {
  padding: 50px 0px; }

footer .contact {
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }

footer .contact a {
  position: relative;
  color: black; }

footer .links {
  padding-bottom: 15px; }

footer .list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none; }

footer .list li {
  display: inline-block;
  position: relative; }

footer .links a {
  color: black; }

footer .contact a.hover-off::after {
  width: 100%;
  left: 0;
  right: inherit; }

footer .links a.hover-off::after {
  width: 0%;
  right: 0;
  left: auto; }

footer .contact a.hover-on::after {
  width: 0%; }

footer .links a.hover-on::after {
  width: 100%; }

footer .contact a::after {
  width: 100%;
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

footer .links a::after {
  width: 0px;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #D5D5D5;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

footer .copyright p {
  text-align: center;
  padding-top: 30px; }

/******* Media Queries *******/
/* XS Devices */
@media (max-width: 576px) {
  .header-content h2 {
    font-size: 24px; }

  .header-content h3 {
    font-size: 20px; } }
/* Small devices */
@media (min-width: 576px) {
  .header-content h2 {
    font-size: 34px; }

  .header-content h3 {
    font-size: 24px; } }
/* Medium devices */
/* Large devices */
@media (min-width: 992px) {
  .header-content h2 {
    font-size: 2rem; }

  .header-content h3 {
    font-size: 1.75rem; } }
/* Extra large devices */

/*# sourceMappingURL=style.css.map */
