// Lato - Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Variables
$h1_font-size: 96px;
$h2_font-size: 60px;
$h3_font-size: 48px;
$h4_font-size: 34px;
$h5_font-size: 24px;
$h6_font-size: 20px;
$body_font-size: 16px;

$h1_font-weight: 300;
$h2_font-weight: 300;
$h3_font-weight: 400;
$h4_font-weight: 400;
$h5_font-weight: 400;
$h6_font-weight: 700;
$body_font-weight: 400;

$h1_letter-spacing: -1.5px;
$h2_letter-spacing: -0.5px;
$h3_letter-spacing: 0px;
$h4_letter-spacing: 0.25px;
$h5_letter-spacing: 0px;
$h6_letter-spacing: 0.15px;
$body_letter-spacing: 0.5px;

$primary_button_color: #A30000;
$link_color: #D45249;

$primary_opacity: 0.87;
$secondary_opacity: 0.54;
$disabled_opacity: 0.38;

$section_padding: 100px 0px;

/* Global */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	font-family: Lato, sans-serif;
	font-weight: 300;
}

body {
	width: 80%;
	margin: auto;
}

h1 {
	font-size: $h1_font-size;
	font-weight: $h1_font-weight;
	letter-spacing: $h1_letter-spacing
}

h2 {
	font-size: $h2_font-size;
	font-weight: $h2_font-weight;
	letter-spacing: $h2_letter-spacing
}

h3 {
	font-size: $h3_font-size;
	font-weight: $h3_font-weight;
	letter-spacing: $h3_letter-spacing
}

h4 {
	font-size: $h4_font-size;
	font-weight: $h4_font-weight;
	letter-spacing: $h4_letter-spacing
}

h5 {
	font-size: $h5_font-size;
	font-weight: $h5_font-weight;
	letter-spacing: $h5_letter-spacing
}

h6 {
	font-size: $h6_font-size;
	font-weight: $h6_font-weight;
	letter-spacing: $h6_letter-spacing
}

p {
	font-size: $body_font-size;
	font-weight: $body_font-weight;
	letter-spacing: $body_letter-spacing
}

/* Navbar */
nav {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
}


/* Header */
header {
	display: flex;
	justify-content: center;
}

header .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header span {
	color: #999;
}

header h4 {
	padding: 17px 0;
}

header img {
	width: 600px;
	height: auto;
	-webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
	mask-image: linear-gradient(to top, transparent 5%, black 50%);
}

/******* My-Works *******/
#my-works,
#my-contact {
	padding: $section_padding;
}

#my-works .row {
	display: flex;
	justify-content: space-around;
}

#my-works .image-left, 
#my-works .image-right {
	width: 50%;
	height: 500px;
	margin: 8px;
}

#my-works .image-left img,
#my-works .image-right img {
	border: 6px solid black;
	width: 100%;
	height: 100%;
}

#my-works .image-left img:hover,
#my-works .image-right img:hover {
	animation: spin 0.25s ease-in forwards;
}

@keyframes spin { 	
	100% {
		-webkit-transform: rotate(90deg);
		transform:rotate(90deg);
		border-radius: 50%;
	}
}

/******* Footer *******/
footer {
	padding: 50px 0px;
}

footer .links {
	padding-bottom: 15px;
}

footer .list {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
}

footer .links a {
	text-decoration: none;
	font-weight: 400;
	color: black;
}

footer .links a:hover {
	// text-decoration: underline;
	animation: link-hover 0.15s ease-in-out forwards;
}

@keyframes link-hover {
	0% {color: black;}
	100% {color: #E1E1E1;}
}


footer .copyright p {
	text-align: center;
	padding-top: 15px;
}



/******* Media Queries *******/
/* XS Devices */
@media (max-width: 576px) {
	.header-content h2 {
		font-size: $h5_font-size;
	}
	
	.header-content h3 {
		font-size: $h6_font-size;
	}
}

/* Small devices */
@media (min-width: 576px) {
	.header-content h2 {
		font-size: $h4_font-size;
	}
	
	.header-content h3 {
		font-size: $h5_font-size;
	}
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
	.header-content h2 {
		font-size: 2rem;
	}
	
	.header-content h3 {
		font-size: 1.75rem;
	}
}

/* Extra large devices */
@media (min-width: 1200px) {
}