{%- assign social = site.data.social-media -%}

<footer class="pb-5">
  <div class="container border-top pt-5">

    <div class="contact-info row row-cols-3">
      <div class="col-lg-4 col-sm-5 col-6">
        <h5 class="font-light-color">Contact Information</h5>
        <p class="text-muted">Feel free to contact me about anything: coffee, jobs, or simply to chat.</p>
        <p class="text-muted text-break">Email: <a href="{{ social.email.href }}{{ social.email.id }}" class="font-light-color text-decoration-none">{{ social.email.id }}</a></p>
        <p class="text-muted">Phone: <a href="#" class="font-light-color text-decoration-none">(TBD)</a></p>
      </div>

      <div class="col-lg-4 col-sm-2 d-sm-block d-none"></div>

      <div class="col-lg-4 col-sm-5 col-6">
        <h5 class="font-light-color">Follow me on</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="{{social.twitter.href }}{{ social.twitter.id }}" class="nav-link p-0 text-muted">Twitter</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{{social.instagram.href }}{{ social.instagram.id }}" class="nav-link p-0 text-muted">Instagram</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{{social.linkedin.href }}{{ social.linkedin.id }}" class="nav-link p-0 text-muted">LinkedIn</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{{social.github.href }}{{ social.github.id }}" class="nav-link p-0 text-muted">GitHub</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{{social.stackoverflow.href }}{{ social.stackoverflow.id }}" class="nav-link p-0 text-muted">StackOverflow</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center text-muted">© Evan Moriarty <a class="text-decoration-none fs-5" href="{{ social.buymeacoffee.href }}{{ social.buymeacoffee.id }}" title="BuyMeACoffee!">☕</a></p>
      </div>
    </div>

  </div>
</footer>