<nav class="navbar container navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links start here -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item px-3">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" {% if page.url == '/' %}aria-current="page"{% endif %} href="{{ '/' | relative_url }}">Home</a>
                <li class="nav-item px-3">
                    <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" {% if page.url == '/about/' %}aria-current="page"{% endif %} href="{{ '/about/' | relative_url }}">About</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link {% if page.url == '/blog/' or page.collection == 'posts' or page.url contains '/blog' %}active{% endif %}" {% if page.url == '/blog/' or page.collection == 'posts' or page.url contains '/blog' %}aria-current="page"{% endif %} href="{{ '/blog/' | relative_url }}">Blog</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" {% if page.url == '/contact/' %}aria-current="page"{% endif %} href="{{ '/contact/' | relative_url }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>