// Width of the content area
// $content-width:		850px !default;
$content-width: 85% !default;
$blog-content-width: 60% !default;

$on-phone: 			450px !default;
$on-palm:       600px !default;
$on-laptop:			800px !default;


/**
 * Wrappers
 */
.wrapper {
  width: $content-width;
  margin: auto;
}

.post-wrapper {
  width: $blog-content-width;
  margin: auto;
}

/**
* Site header
*/
.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.75;

  // Positioning context for the mobile navigation icon
  position: relative;
}

/********************/
/****  Home Page ****/
/********************/
// header .text {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 100%;
//   padding: 200px 0px;
// }

// header .image {
//   position: absolute;
// }


/********************/
/***  Blog List  ****/
/********************/

.blogs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.blog {
  flex: 0 1 31%;
  margin-bottom: $spacing-unit * 1.25;
}

.blog .post-categories a {
  color: #111;
}

.custom-post-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.custom-post-date,
.custom-post-content,
.custom-post-categories {
  margin-bottom: 10px;
}

.title-spacing {
  margin: 44px 0px;
}


/********************/
/*****  Posts  ******/
/********************/

article.post {
	line-height: 1.75em;
}

.post-content a {
	color: rgb(74, 198, 255);
}

.post-content a:hover {
	color: rgb(109, 210, 255);
}

.post-header {
	margin-top: 44px;
	margin-bottom: 44px;
}

.blog-post-header .bar {
  border-bottom: 4px #111 solid;
  margin: 50px 0;
  max-width: 170px;
}

.header-image {
	margin-top: 0;
	padding: 260px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-image h1 {
	color: white;
}

.center-image {
	margin: 0 auto;
	display: block;
}

.blog-video {
	width: 75%;
	height: 310px;
}

@include media-query($on-laptop) {
  .blogs .blog {
    flex: 0 1 46%;
  }
}

@include media-query($on-palm) {
  .post-wrapper{
    width: 85%;
  }
  .blogs .blog {
    flex: 0 1 100%;
  }
  .blog-video {
		height: 240px;
	}
	.header-image {
		padding: 115px 0;
	}
}

@include media-query($on-phone) {
  .blog-video {
		height: 150px;
  }
}

.post-date,
.post-categories {
	font-size: 14px;
}

.post .category-link,
.post .category-link:visited,
.post .category-link:hover {
	color: #828282;
}

.blog-icon {
	margin-right: 5px;
}


/********************/
/*****  Footer  *****/
/********************/

.social-links {
	margin-bottom: 30px;
}
