// Width of the content area
$content-width:		800px !default;

$on-phone: 			450px !default;
$on-palm:			600px !default;
$on-laptop:			800px !default;

/* Blog Page */
.blog {
	margin-bottom: $spacing-unit * 1.25;
}

/* Posts */
.center-image {
	margin: 0 auto;
	display: block;
}

.blog-video {
	width: 75%;
	height: 310px;
}

@include media-query($on-palm) {
	.blog-video {
		height: 240px;
	}
}

@include media-query($on-phone) {
	.blog-video {
		height: 150px;
	}
}

.post-date,
.post-categories {
	font-size: 14px;
}

.blog-icon {
	width: 20px;
	margin-right: 5px;
}