@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,700");
/******* Global *******/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-family: 'Encode Sans Condensed', Helvetica, sans-serif;
  font-weight: 300;
  font-display: swap; }

body {
  overflow-x: hidden;
  overflow-y: auto; }

h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -0.5px; }

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0.5px; }

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px; }

h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1.25px; }

h5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px; }

h6 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.15px; }

p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px; }

a {
  text-decoration: none;
  color: black; }

.g-container {
  width: 85%;
  margin: auto; }

.container-100 {
  width: 100%;
  margin: auto; }

.padding-t-10 {
  padding-top: 10px; }

.padding-t-25 {
  padding-top: 25px; }

.padding-t-50 {
  padding-top: 50px; }

.padding-t-75 {
  padding-top: 75px; }

.padding-t-100 {
  padding-top: 100px; }

.padding-b-10 {
  padding-bottom: 10px; }

.padding-b-25 {
  padding-bottom: 25px; }

.padding-b-50 {
  padding-bottom: 50px; }

.padding-b-75 {
  padding-bottom: 75px; }

.padding-b-100 {
  padding-bottom: 100px; }

.padding-tb-10 {
  padding: 10px 0px; }

.padding-tb-25 {
  padding: 25px 0px; }

.padding-tb-50 {
  padding: 50px 0px; }

.padding-tb-75 {
  padding: 75px 0px; }

.padding-tb-100 {
  padding: 100px 0px; }

.margin-tb-10 {
  margin: 10px 0px; }

.margin-tb-25 {
  margin: 25px 0px; }

.margin-tb-50 {
  margin: 50px 0px; }

.margin-tb-75 {
  margin: 75px 0px; }

.margin-tb-100 {
  margin: 100px 0px; }

.margin-b-10 {
  margin-bottom: 10px; }

.margin-b-25 {
  margin-bottom: 25px; }

.margin-b-50 {
  margin-bottom: 50px; }

.margin-b-75 {
  margin-bottom: 75px; }

.margin-b-100 {
  margin-bottom: 100px; }

.margin-lr-10 {
  margin: 0px 10px; }

.margin-lr-25 {
  margin: 0px 25px; }

.margin-lr-50 {
  margin: 0px 50px; }

.margin-lr-75 {
  margin: 0px 75px; }

.margin-lr-100 {
  margin: 0px 100px; }

.p-absolute {
  position: absolute; }

.p-fixed {
  position: fixed; }

.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

.obj-contain {
  object-fit: contain; }

.obj-cover {
  object-fit: cover; }

.d-flex {
  display: flex; }

.d-flex-direction {
  display: flex;
  flex-direction: column; }
.d-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.d-inline-block {
  display: inline-block; }

.d-hidden {
  display: none; }

.p-relative {
  position: relative; }

.text-center {
  text-align: center; }

hr {
  position: relative;
  z-index: 1;
  border: 0;
  margin: 0;
  height: 1px;
  background-color: #E7EDF1;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  overflow: visible; }

.showcase_close-btn {
  position: fixed;
  text-transform: uppercase;
  cursor: pointer;
  bottom: 93%;
  right: 7.5%;
  z-index: 99; 
  transition: 0.1s; }

.showcase_close-btn:hover {
  opacity: 0.3; }

.showcase_close-btn p {
  font-size: 20px; }

/******* SideNav *******/
.overlay {
  position: fixed;
  background: rgba(250, 250, 250, 0.97);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%; }

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.2s; }
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.25s; }
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.3s; }
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.35s; }
 
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; }
}

.overlay .nav-title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 8%; }

.overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(70%);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%; }

.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 50px; }

.overlay ul li a {
  display: block;
  position: relative;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s; }
 
.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
  opacity: 0.3; }

.overlay-menu {
  padding: 2px;
  z-index: 10; }

.overlay-menu #hamburger-icon {
  width: 35px;
  height: 21px;
  position: relative;
  display: block; 
  cursor: pointer; }

.overlay-menu #hamburger-icon .line {
  display: block;
  background: #000;
  width: 35px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 15px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s; }

.overlay-menu #hamburger-icon .line.line-1 {
  top: 0;
}
.overlay-menu #hamburger-icon .line.line-2 {
  top: 50%;
}
.overlay-menu #hamburger-icon .line.line-3 {
  top: 100%;
}
#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
}
#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(11px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  -moz-transform: translateY(11px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
}

/* .overlay-menu:hover {
  transform: rotate(180deg); } */

/******* Header *******/
header {
  display: flex;
  justify-content: center; }

header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*padding: 200px 0px;*/ }

header span {
  color: #999; }

header h4 {
  padding: 17px 0; }

header img {
  /* position: absolute;
  top: -30px;
  right: -570px;
  width: 850px; */
  width: 600px;
  height: auto; }

/******* My-Works *******/
.land-imgs .landing-image:hover,
.land-imgs .land-img1:hover,
.land-imgs .land-img2:hover {
  transform: scale(0.99);
  cursor: pointer; }

.land-imgs .landing-image,
.land-imgs .land-img1,
.land-imgs .land-img2 {
  border: 6px solid black;
  transition: all 0.6s; }

.land-imgs .landing-image img:hover {
  transform: scale(1.04); }

.land-imgs .landing-image img {
  height: 525px;
  transition: all 0.6s; }

/******* Footer *******/
footer .contact {
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }

footer .contact a {
  position: relative;
  color: black; }

footer .links {
  padding-bottom: 15px; }

footer .list {
  display: flex;
  justify-content: center;
  list-style-type: none; }

footer .list li {
  display: inline-block;
  position: relative; }

footer .links li + li {
  margin-left: 50px; }

footer .links li + li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: -30px;
  display: block;
  content: '-';
  font-size: 18px; }

footer .links a {
  color: black; }

footer .contact a.hover-off::after {
  width: 100%;
  left: 0;
  right: inherit; }

footer .links a.hover-off::after,
.site-link a.hover-off::after,
.business-inquiries a.hover-off::after,
.social-text a.hover-off::after {
  width: 0%;
  right: 0;
  left: auto; }

footer .contact a.hover-on::after {
  width: 0%; }

footer .links a.hover-on::after,
.site-link a.hover-on::after,
.business-inquiries a.hover-on::after,
.social-text a.hover-on::after {
  width: 100%; }

footer .contact a::after {
  width: 100%;
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

footer .links a::after,
.site-link a::after,
.business-inquiries a::after,
.social-text a::after {
  width: 0px;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #D5D5D5;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease; }

  #coffee-emoji {
    display: inline-block;
    font-size: 30px; }

  #coffee-emoji:hover {
    animation: coffeeBounce 1s ease forwards;
    animation-iteration-count: infinite; }

  @keyframes coffeeBounce {
    0% {
      transform: translateY(0%); }
    50% {
      transform: translateY(-4px); }
    100% {
      transform: translateY(0%); }
  }


/******* Works Showcase ********/
.works-image-main img,
.works-image-sub img {
  width: 100%;
  height: 600px; }

.works-showcase .site-link {
  display: inline-block;
  position: relative; }

.works-showcase a,
.business-inquiries a,
.social-text a {
  color: #888888; }

.bg-color-north {
  background: #e7ebf1;
  background: -moz-linear-gradient(90deg, #e7ebf1 0%, #f0f2f5 100%);
  background: -webkit-linear-gradient(90deg, #e7ebf1 0%, #f0f2f5 100%);
  background: linear-gradient(90deg, #e7ebf1 0%, #f0f2f5 100%); }

.bg-color-north-2 {
  background: #e7ebf1;
  background: -moz-linear-gradient(0deg, #e7ebf1 0%, #d3dce5 100%);
  background: -webkit-linear-gradient(0deg, #e7ebf1 0%, #d3dce5 100%);
  background: linear-gradient(0deg, #e7ebf1 0%, #d3dce5 100%); }

.bg-color-engl {
  background: #f3f3f3;
  background: -moz-linear-gradient(90deg, #f3f3f3 0%, #d9e2eb 100%);
  background: -webkit-linear-gradient(90deg, #f3f3f3 0%, #d9e2eb 100%);
  background: linear-gradient(90deg, #f3f3f3 0%, #d9e2eb 100%); }

.bg-color-engl-2 {
  background: #e3e7f0;
  background: -moz-linear-gradient(90deg, #e3e7f0 0%, #c8ccd6 100%);
  background: -webkit-linear-gradient(90deg, #e3e7f0 0%, #c8ccd6 100%);
  background: linear-gradient(90deg, #e3e7f0 0%, #c8ccd6 100%); }

.bg-color-cyber {
  background: #f0ebeb;
  background: -moz-linear-gradient(180deg, #f0ebeb 0%, #ede5e5 100%);
  background: -webkit-linear-gradient(180deg, #f0ebeb 0%, #ede5e5 100%);
  background: linear-gradient(180deg, #f0ebeb 0%, #ede5e5 100%); }

.bg-color-cyber-2 {
  background: #e3e0e0;
  background: -moz-linear-gradient(180deg, #e3e0e0 0%, #dacdcd 100%);
  background: -webkit-linear-gradient(180deg, #e3e0e0 0%, #dacdcd 100%);
  background: linear-gradient(180deg, #e3e0e0 0%, #dacdcd 100%); }

.works-image-more img {
  height: 600px; }

.works-showcase-end a {
  position: relative;
  display: block;
  border: 0;
  width: 100%; }

.works-showcase-end a {
  position: relative;
  display: block;
  background-color: #F1F1F1; }

.works-showcase-end a h5 {
  transition: color 0.4s ease;
  position: relative;
  z-index: 10; }

.works-showcase-end a:hover h5 {
  color: white; }

.works-showcase-end a::before {
  position: absolute;
  right: inherit;
  left: 0;
  display: block;
  content: '';
  height: 100%;
  width: 0px;
  background-color: black;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease; }

.works-showcase-end a:hover::before {
  width: 100%; }

hr {
  position: initial;
  z-index: -1; }


/******* Media Queries *******/
/* XS Devices */
@media only screen and (max-width: 576px) {
  header div.image {
    left: 230px;
    top: 170px; }

  .works-showcase div {
    flex-direction: column; }

  .works-showcase h4 {
    font-size: 24px; }

  .works-showcase p {
    font-size: 14px; }

  .g-container .works-showcase .title-desc,
  .g-container .works-showcase .details {
    width: 100%; }

  .works-showcase .details {
    padding-top: 35px; }

  header h4 {
    font-size: 28px; }

  header h5 {
    font-size: 24px; }

  footer .links li + li {
    margin-left: 25px; }

  footer .links li + li::before {
    left: -17px; }

  #error-page h3 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.25px; } }

/* Small Devices */
@media only screen and (max-width: 768px) {
  .works-image-main img,
  .works-image-sub img,
  .works-image-more img {
    height: 300px; }

  .works-image-more {
    flex-direction: column;
    padding-top: 0; }

  .works-image-more img {
    width: 100%;
    object-fit: contain;
    margin: 50px 0px 0px 0px; }

  .works-showcase .d-flex {
    justify-content: space-between; }

  .works-showcase .title-desc {
    width: 65%; }

  .works-showcase .title-desc,
  .works-showcase .details {
    margin: 0; }

  .works-showcase-end a {
    background-color: black;
    color: white; }

  .works-showcase-end a::before {
    content: none; }

  .land-imgs {
    flex-direction: column;
    align-items: center; }

  #home-landing-img-big {
    padding: 0; }

  .land-imgs .landing-image {
    width: 100%;
    margin: 25px; }

  #my-contact {
    padding: 50px 0; }

  footer {
    padding: 0px 0px 50px 0px; } }

/* Medium Devices */
@media only screen and (max-width: 992px) {
  header .text {
    padding-top: 25px; }

  header .image {
    position: fixed;
    left: 0;
    top: 225px;
    z-index: -1; }

  header img {
    width: 500px !important;
    mask-image: linear-gradient(to top, transparent 15%, black 120%);
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 120%); }

  .land-imgs .landing-image img {
    height: 250px; } }

/* Large Devices */
@media only screen and (max-width: 1200px) {
  header img {
    width: 400px; }

  #my-works .image {
    height: auto; } }
