<!DOCTYPE html>
<html lang="en">

<!-- Header -->
{% include head.html %}

<body>

	<div class="g-container">
		<div class="showcase_close-btn">
			<a href="/"><p>Close</p></a>
		</div>

		<section class="works-image-main padding-t-100" data-aos="fade-up">
			<img src="/assets/cyberatuc_main.png" alt="northlich_page" class="obj-contain bg-color-cyber">
		</section>

		<section class="works-showcase padding-t-100" data-aos="fade-up">
			<div class="container d-flex">
				<div class="title-desc w-50 margin-lr-50">
					<h4>Cyber@UC</h4>
					<p class="padding-tb-25">Cyber@UC is the University of Cincinnati's official student led information security organization. We host weekly meetings, create local hands-on workshops for our members to experience, and participate in hacking events. We post our meetings to <a href="https://www.youtube.com/channel/UCWcJuk7A_1nDj4m-cHWvIFw">YouTube</a>, come check them out!</p>
					<p>I designed Cyber@UC's website and it's intially what made me interested in web development. Everything from the main page to the blog. The website uses Bootstrap and jQuery, and I contiunously work on it to this day.</p>
				</div>
				<div class="details w-25 margin-lr-100">
					<p>Front End Developer</p>
					<hr class="margin-tb-10">
					<p class="padding-tb-10">Personal Project</p>
					<hr class="margin-tb-10">
					<p class="padding-tb-10">2017 - Present</p>
					<div class="site-link">
						<a class="padding-t-25 d-inline-block hover-off" href="https://srgsprinkles.github.io/UCyber-site/" target="_blank"><p>VISIT WEBSITE</p></a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="container-100">
		<section class="works-image-sub padding-t-100" data-aos="fade-up">
			<img src="/assets/cyberatuc_blog.png" alt="northlich_alt" class="obj-contain bg-color-cyber">
		</section>
	</div>

	<div class="g-container">
		<section class="works-image-more padding-t-50 d-flex">
			<img class="w-50 margin-lr-25 obj-contain bg-color-cyber-2" src="/assets/cyberatuc_mobile.png" alt="northlich_alt_2" data-aos="fade-up">
			<img class="w-50 margin-lr-25 obj-contain bg-color-cyber" src="/assets/cyberatuc_end.png" alt="northlich_alt_3" data-aos="fade-up">
		</section>
	</div>

	<div class="works-showcase-end padding-t-100 d-flex-center text-center">
		<a class="w-100" href="/">
			<h5 class="padding-tb-75">Home</h5>
		</a>
	</div>


	<!-- jQuery v3.3.1 -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
	<!-- Animate on Scroll Init -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			offset: 200,
			duration: 800,
			once: true
		});
	</script>
	<script src="/assets/js/script.js"></script>
</body>
</html>
