<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <div class="g-container">
        <div id="sideNav" class="sidenav">
            <div class="g-container">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/assets/close.svg" class="closebtn-img" alt="close_btn"></a>
                <div class="sidenav-links">
                    <a href="/"><h4>Home</h4></a>
					<a href="./about/"><h4>About</h4></a>
					<a href="./blog/"><h4>Blog</h4></a>
                </div>
            </div>
        </div>


        <div id="main-content">
            <nav class="d-flex padding-tb-25">
                <a href="#" onclick="openNav()"><img class="sidenavMenu" src="/assets/circuit_menu.svg" alt="circuit_menu"></a>
            </nav>

            <header>
                <div class="text">
                    <h4>EVAN PRINGLE <span>&middot; Cincinnati</span></h4>
                    <h5>A self-taught Full Stack Web Developer with a passion to make the internet fascinating.</h5>
                </div>
                <div class="image">
                    <img src="/assets/circuit_tree.png" alt="circuit_tree">
                </div>
            </header>

            <section class="d-flex land-imgs padding-t-25" id="row-50">
                <div class="landing-image w-50 margin-lr-25">
                    <img src="/assets/northlich.png" alt="northlich_webpage" id="northlich" class="w-100 obj-cover">
                </div>
                <div class="landing-image w-50 margin-lr-25">
                    <img src="/assets/engelandmartin.png" alt="engel-and-martin_webpage" id="engelandmartin" class="w-100 obj-cover">
                </div>
            </section>

            <section class="d-flex land-imgs padding-t-50" id="row-100">
                <div class="landing-image w-100 margin-lr-25">
                    <img src="/assets/cyber@uc.png" alt="cyberatuc_webpage" id="cyberatuc" class="w-100 obj-contain">
                </div>
            </section>

            <footer class="padding-t-100">
                <div class="container">
                    <div class="contact">
                        <h5 class="contact-container">Want to get in <a href="mailto:epringle365@vivaldi.net">touch</a>?</h5>
                    </div>
                    <div class="links">
                        <ul class="list">
                            <li><a href="https://github.com/SrgSprinkles/" target="_blank"><p>GitHub</p></a></li>
                            <li><a href="https://linkedin.com/in/evan-pringle/" target="_blank"><p>LinkedIn</p></a></li>
                            <li><a href="https://twitter.com/epringle365" target="_blank"><p>Twitter</p></a></li>
                            <li><a href="https://instagram.com/epringle365" target="_blank"><p>Instagram</p></a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p class="text-center padding-tb-25">Coded with 🖤 by Evan Pringle</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- jQuery v3.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
    <script>
        /* Check the initial screen size */
        $(document).ready(function() {
            let $window = $(window);
            let windowSize = $window.width();

            if (windowSize <= 756) {
                // $('#cyberatuc').attr('src', '/assets/cyber@uc2.png');
                $('#cyberatuc').css('object-fit', 'cover');
            }
        });
    </script>

</body>
</html>
