<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

	<div class="g-container">
		<div class="showcase_close-btn">
			<a href="/"><p>Close</p></a>
		</div>

		<section class="works-image-main padding-t-100" data-aos="fade-up">
			<img src="/assets/northlich.png" alt="northlich_page" class="bg-color-north obj-contain">
		</section>

		<section class="works-showcase padding-t-100" data-aos="fade-up">
			<div class="container d-flex">
				<div class="title-desc w-50 margin-lr-50">
					<h4>Northlich</h4>
					<p class="padding-tb-25">Northlich's advertising website uses WordPress. Animations were a big part of this website, so I created all of the animations and dealt with some of the copy.</p>
				</div>
				<div class="details w-25 margin-lr-100">
					<p>Front End Developer</p>
					<hr class="margin-tb-10">
					<p class="padding-tb-10">Contract Project</p>
					<hr class="margin-tb-10">
					<p class="padding-tb-10">2017</p>
					<div class="site-link">
						<a class="padding-t-25 d-inline-block hover-off" href="http://shsmd.northlich.com/" target="_blank"><p>VISIT WEBSITE</p></a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="container-100">
		<section class="works-image-sub padding-t-100" data-aos="fade-up">
			<img src="/assets/northlich_int-camp.png" alt="northlich_alt" class="bg-color-north obj-contain">
		</section>
	</div>

	<div class="g-container">
		<section class="works-image-more padding-t-50 d-flex">
			<img class="w-50 margin-lr-25 bg-color-north-2" src="/assets/northlich_mobile-view.png" alt="northlich_alt_2"
			data-aos="fade-up">
			<img class="w-50 margin-lr-25 bg-color-north-2" src="/assets/northlich_end.png" alt="northlich_alt_3" data-aos="fade-up">
		</section>
	</div>

	<div class="works-showcase-end padding-t-100 d-flex-center text-center">
		<a class="w-100" href="./engelandmartin.html">
			<h5 class="padding-t-75">Next Project</h5>
			<h5 class="padding-b-75">Engel & Martin, LLC.</h5>
		</a>
	</div>


	<!-- jQuery v3.3.1 -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
	<!-- Animate on Scroll Init -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			offset: 200,
			duration: 800,
			once: true
		});
	</script>
	<script src="/assets/js/script.js"></script>


</body>
</html>
